<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
        <link rel="stylesheet" href="./css/navBar.css">
        <link rel="stylesheet" href="./css/afterSignIn.css">
    </head>
    <body>
        {{>navBar}}
        <div class="container">
            <h1  style="font-family:Palatino, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Signed Up Successfully</h1>
            <a href="/logInPage"><button method="GET" class="login" style="font-family:Palatino, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Log In</button></a>
        </div>
    </body>
</html>