<!DOCTYPE html>
<html lang="en">
     <head>
        <meta charset="UTF-8"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/frontPage.css" />
        <link href="../login page/login.html" />
        <link rel="stylesheet" href="./css/navBar.css">
        <link rel="stylesheet" href="./css/login.css">
        <link rel="stylesheet" href="./css/signup.css">
    </head>
    <body>
    {{>navBar}}
    <div class="portal">
        <h2 style="font-family:Palatino">
            STUDENT'S PORTAL
        </h2>
    </div>
    <div class="hold">
    <div id="test">
        <div class="headd">
            <h1  style="font-family: 'Playfair Display', serif">Login or Signup</h1>
        </div>
        <div class="click">
            <a href="/logInPage"><button method="GET" class="login" style="font-family: 'Playfair Display', serif">Log In</button></a>
            <a href="/signUpPage"><button method="GET" class="signup" style="font-family: 'Playfair Display', serif">Sign Up</button></a>
        </div>
    </div>
    </div>
</body>
</html>

