<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/interface.css">
        <link rel="stylesheet" href="./css/navBar.css">
    </head>
    <body>
        {{>navBar}}
        <div class="container">
            <a href="/formFillUpPage"><button type="button" name="fillform" style="font-family: 'Playfair Display', serif">Fill Online Exam Form</button></a>
            <a href="/issueBookPage"><button type="button" name="bookissue" style="font-family: 'Playfair Display', serif">Issue Book Online</button></a>
            <a href="/writeToUsPage"><button type="button" name="write" style="font-family: 'Playfair Display', serif">Write To Us</button></a>
        </div>
    </body>
</html>